// color variables
@dark: #181a23;
@dark-light: #1f2029;
@light: #bcbcbf;
// =========
html,
body {
	background-color: @dark;
	font-family: 'Poppins', sans-serif;
}
.global-header {
	height: 65px;
	background-color: @dark-light;
	display: flex;
	align-items: center;
	padding: 0 20px;
	.logo{
		flex: 1;
		a{
			display: block;
			height: 24px;
		}
	}
	.data-filter{
		flex: 1;
		display: flex;
    justify-content: center;
	}
	.top-nav{
		flex: 1;
		display: flex;
    justify-content: flex-end;
	}
}

.data-filter {
	.ant-radio-wrapper {
		color: @light;
	}
}
.top-nav{
	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		li{
			a{
				display: block;
				padding: 10px;
				line-height: normal;
				color: @light;
			}
		}
	}
}
.body-wrapper {
	padding: 20px;
	.chart-box {
		background-color: @dark-light;
		height: 350px;
		margin-bottom: 20px;
	}
	.table-box {
		background-color: @dark-light;
		height: 750px;
	}
}
