// color variables
@dark: #181a23;
@dark-light: #1f2029;
@light: #bcbcbf;
@white: #ffffff;
// =========
html,
body {
	background-color: @dark;
	font-family: 'Poppins', sans-serif;
}
.global-header {
	height: 65px;
	background-color: @dark-light;
	display: flex;
	align-items: center;
	padding: 0 20px;
	position: fixed;
	width: 100%;
	box-shadow: 0 0px 7px #00000059;
	.logo {
		flex: 1;
		a {
			display: block;
			height: 24px;
		}
	}
	.data-filter {
		flex: 1;
		display: flex;
		justify-content: center;
	}
	.top-nav {
		flex: 1;
		display: flex;
		justify-content: flex-end;
	}
}

.data-filter {
	.ant-radio-wrapper {
		color: @light;
	}
}
.top-nav {
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		li {
			a {
				display: block;
				padding: 10px 15px;
				line-height: normal;
				color: @light;
			}
		}
	}
}
.body-wrapper {
	padding: 85px 20px 20px;
	.chart-box {
		background-color: @dark-light;
		height: 350px;
		margin-bottom: 20px;
	}
	.table-box {
		background-color: @dark-light;
		height: 750px;
	}
}
.ant-table {
	background-color: @dark-light;
	color: @white;
	.ant-table-tbody > tr > td {
		border-bottom: 8px solid @dark;
	}
	.ant-table-thead > tr > th{
		background-color: @dark;
		color: @light;
		border-bottom: 0;
	}
}
